@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center">
        <p>
            Come to our Christmas party! It will be held on 20.12.2021 in the hotel restaurant
            "Plovdiv" from 19 o'clock! Please fill in the form with your details as well as whether you will be attending,
            so that the necessary organization can be made.
        </p>
    </div>
    <div>   
        <button type="button" class="btn btn-primary" onclick="location.href='./Home/Form'">Fill in form</button>
    </div>
</body>
