@model Invitation.Models.Responses
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    <div>
        <button type="button" class="btn btn-primary" onclick="location.href='./Home/Form'">Back to form</button>\
        <button type="button" class="btn btn-primary" onclick="location.href='./Home'">Back to home</button>
    </div>
</body>
</html>
